<div class="flex">
  <div class="w-full p-4">
    <div class="relative flex-col w-full shadow-lg rounded bg-white p-8">
      <div class="flex flex-col md:flex-row gap-6 mb-4">
        
          <!-- Contenido -->
          <app-cards-menu class="w-full md:w-1/2"
          [titulo]="'Plan anual de trabajo'"
          [descripcion]="'Orientado al cumplimiento de acciones y estrategias en seguridad vial para planificación, implementación, seguimiento y mejora del PESV.'"
          [tipoIcono]="'fas fa-user-tie'"
          [colorIcono]="'bg-sky-400'"
          [colorgrafica]="'#0370a1'"
          [linkvamos]="'plan_anual_trabajo'"
          [porcentaje]="estatusGeneral['009-plan-anual-trabajo']?.estado || 0"
          ></app-cards-menu>
          <app-cards-menu class="w-full md:w-1/2"
          [titulo]="'Competencias y plan anual de formación'"
          [descripcion]="'Define las competencias en seguridad vial y establece programas de capacitación para todos los roles involucrados en la seguridad vial de la organización.'"
          [tipoIcono]="'fas fa-users'"
          [colorIcono]="'bg-sky-400'"
          [colorgrafica]="'#0370a1'"
          [linkvamos]="'competencias_plan_anual_formacion'"
          [porcentaje]="estatusGeneral['010-competencia-plan-anual-formacion']?.estado || 0"
          ></app-cards-menu>

      </div>
      <div class="flex flex-col md:flex-row gap-6 mb-4">
      
      <!-- Contenido -->
      <app-cards-menu class="w-full md:w-1/2"
      [titulo]="'Responsabilidad y comportamiento seguro'"
      [descripcion]="'Establece los lineamientos para la evaluación y seguimiento del comportamiento vial de los colaboradores que realizan desplazamientos.'"
      [tipoIcono]="'fas fa-balance-scale'"
      [colorIcono]="'bg-sky-400'"
      [colorgrafica]="'#0370a1'"
      [linkvamos]="'responsabilidad_comportamiento_seguro'"
      [porcentaje]="estatusGeneral['011-responsabilidad-comportamiento-seguro']?.estado || 0"
      ></app-cards-menu>

      <app-cards-menu class="w-full md:w-1/2"
      [titulo]="'Plan de preparación y respuesta ante emergencias viales'"
      [descripcion]="'Procedimientos y protocolos para atender emergencias viales, incluyendo la cadena de llamado y respuesta ante siniestros viales.'"
      [tipoIcono]="'fas fa-hands-helping'"
      [colorIcono]="'bg-sky-400'"
      [colorgrafica]="'#0370a1'"
      [linkvamos]="'preparacion_respuesta_emergencias_viales'"
      [porcentaje]="estatusGeneral['012-preparacion-respuesta-emergencias-viales']?.estado || 0"
      ></app-cards-menu>
      </div>
      <div class="flex flex-col md:flex-row gap-6 mb-4">
    
      <!-- Contenido -->
      <app-cards-menu class="w-full md:w-1/2"
      [titulo]="'Investigación interna de incidentes viales'"
      [descripcion]="'Metodología para reportar, registrar, investigar y analizar los siniestros viales que involucren a colaboradores de la organización.'"
      [tipoIcono]="'fas fa-hands-helping'"
      [colorIcono]="'bg-sky-400'"
      [colorgrafica]="'#0370a1'"
      [linkvamos]="'investigacion_incidentes_viales'"
      [porcentaje]="estatusGeneral['013-investigacion-interna-siniestros-viales']?.estado || 0"
      ></app-cards-menu>

      <app-cards-menu class="w-full md:w-1/2"
      [titulo]="'Vías seguras administradas por la organización'"
      [descripcion]="'Protocolo para la operación y mantenimiento de las vías que administra la organización, incluyendo la identificación de puntos críticos.'"
      [colorIcono]="'bg-sky-400'"
      [colorgrafica]="'#0370a1'"
      [linkvamos]="'vias_seguras_administradas_organizacion'"
      [porcentaje]="estatusGeneral['014-vias-seguras-administradas-organizacion']?.estado || 0"
      ></app-cards-menu>
    
      </div>
      <div class="flex flex-col md:flex-row gap-6 mb-4">
    
      <!-- Contenido -->
      <app-cards-menu class="w-full md:w-1/2"
      [titulo]="'Planificación de desplazamientos laborales'"
      [descripcion]="'Procedimientos para la planificación segura de rutas y viajes, considerando riesgos y medidas preventivas en los desplazamientos.'"
      [colorIcono]="'bg-sky-400'"
      [colorgrafica]="'#0370a1'"
      [linkvamos]="'planificacion_desplazamientos_laborales'"
      [porcentaje]="estatusGeneral['015-planificacion-desplazamientos-laborales']?.estado || 0"
      ></app-cards-menu>
      
      <app-cards-menu class="w-full md:w-1/2"
      [titulo]="'Inspección de vehículos y equipos'"
      [descripcion]="'Sistema de verificación diaria del estado de los vehículos y sus condiciones de seguridad antes de iniciar operación'"
      [colorIcono]="'bg-sky-400'"
      [colorgrafica]="'#0370a1'"
      [linkvamos]="'inspeccion_vehiculos_equipos'"
      [porcentaje]="estatusGeneral['016-inspeccion-vehiculos-equipos']?.estado || 0"
      ></app-cards-menu>

      </div>
      <div class="flex flex-col md:flex-row gap-6 mb-4">
    
      <!-- Contenido -->
      <app-cards-menu class="w-full md:w-1/2"
      [titulo]="'Mantenimiento y control de vehículos seguros y equipos'"
      [descripcion]="'Plan de mantenimiento preventivo y correctivo para garantizar la seguridad y buen funcionamiento de la flota vehicular.'"
      [colorIcono]="'bg-sky-400'"
      [colorgrafica]="'#0370a1'"
      [linkvamos]="'mantenimiento_control_vehiculos_seguros'"
      [porcentaje]="estatusGeneral['017-mantenimiento-control-vehiculos-seguros']?.estado || 0"
      ></app-cards-menu>
      <app-cards-menu class="w-full md:w-1/2"
      [titulo]="'Gestión del cambio y gestión de contratistas'"
      [descripcion]="'Procedimientos para evaluar impactos en seguridad vial ante cambios organizacionales y requisitos para contratistas.'"
      [colorIcono]="'bg-sky-400'"
      [colorgrafica]="'#0370a1'"
      [linkvamos]="'gestion_cambio_contratistas'"
      [porcentaje]="estatusGeneral['018-gestion-cambio-contratistas']?.estado || 0"
      ></app-cards-menu>
      
      </div>
      <div class="flex flex-col md:flex-row gap-6">
    
      <!-- Contenido -->
      <app-cards-menu class="w-full"
      [titulo]="'Archivo y retención documental'"
      [descripcion]="'Sistema de control y archivo de toda la documentación que soporta la implementación del PESV por un período mínimo de 5 años.'"
      [colorIcono]="'bg-sky-400'"
      [colorgrafica]="'#0370a1'"
      [linkvamos]="'archivo_retencion_documental'"
      [porcentaje]="estatusGeneral['019-archivo-retencion-documental']?.estado || 0"
      ></app-cards-menu>
      
      </div>
    </div>
  </div>
</div>