<div class="flex flex-wrap">
    <div class="w-full xl:w-10/12 mb-12 xl:mb-0 px-4">
        <app-tabla-archivos></app-tabla-archivos>
    </div>
    <div class="w-full xl:w-3/12 px-4">
        <app-subir-archivos></app-subir-archivos>
    </div>
    <div class="w-full xl:w-3/12 px-4">
        <app-card-stats
        [statSubtitle]="'Líder del PESV'"
        [statTitle]="'150,000'"
        [statArrow]="'up'"
        [statPercent]="'5.25'"
        [statPercentColor]="'text-emerald-500'"
        [statDescripiron]="'Compared to last week'"
        [statIconName]="'fas fa-dollar-sign'"
        [statIconColor]="'bg-green-500'"
        [noMarginTop]="true"
        >
        </app-card-stats>
    </div>
    <div class="w-full xl:w-3/12 px-4">
        <app-card-stats
        [statSubtitle]="'Users'"
        [statTitle]="'1,250'"
        [statArrow]="'up'"
        [statPercent]="'8.74'"
        [statPercentColor]="'text-green-500'"
        [statDescripiron]="'Compared to last month'"
        [statIconName]="'fas fa-users'"
        [statIconColor]="'bg-blue-500'"
        [noMarginTop]="true"
        >
        </app-card-stats>
    </div>
    <div class="w-full xl:w-3/12 px-4">
        <app-card-stats
        [statSubtitle]="'Política de seguridad vial'"
        [statTitle]="'50,000'"
        [statArrow]="'down'"
        [statPercent]="'2.50'"
        [statPercentColor]="'text-red-500'"
        [statDescripiron]="'Compared to last week'"
        [statIconName]="'fas fa-shopping-cart'"
        [statIconColor]="'bg-yellow-500'"
        [noMarginTop]="true"
        >
        </app-card-stats>
    </div>
    <div class="w-full xl:w-3/12 px-4">
        <app-card-stats
        [statSubtitle]="'Liderazgo y compromiso'"
        [statTitle]="'150,000'"
        [statArrow]="'up'"
        [statPercent]="'5.25'"
        [statPercentColor]="'text-emerald-500'"
        [statDescripiron]="'Compared to last week'"
        [statIconName]="'fas fa-dollar-sign'"
        [statIconColor]="'bg-green-500'"
        [noMarginTop]="true"
        >
        </app-card-stats>
    </div>
</div>


