<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0">
  <div class="rounded-t bg-blueGray-100  mb-0 px-6 py-6">
    <div class="text-center flex ">
      <button
        [routerLink]="['/admin/planificar']"
        class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-1 py-1  rounded shadow hover:shadow-md outline-none focus:outline-none mr-2 ease-linear transition-all duration-150"
        type="button"
      >
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
      </button>
      <h6 class="text-blueGray-700 text-xl font-bold">Caracterización, evaluación y control de riesgos</h6>
    </div>
  </div>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

    <div class="text-lg font-light leading-relaxed mt-6 mb-4 text-gray-700" >

      <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300" class="text-justify pb-3">
        Bienvenido al módulo de caracterización, evaluación y control de riesgos, el cual te permite identificar, analizar, valorar y tratar los riesgos de seguridad vial en su organización. Incluye las siguientes funcionalidades:
      </p>
      <ul class="list-disc list-inside space-y-1 pl-4">
        <li>Identificación de riesgos.</li>
        <li>Análisis de riesgos.</li>
        <li>Valoración de riesgos.</li>
        <li>Tratamiento de Riesgos.</li>
      </ul>
      
      
      

      <div class="flex flex-col lg:flex-row justify-center items-center mt-6 mb-6 space-y-6 lg:space-y-0 lg:space-x-16">
        <div class="lg:w-1/3 sm:w-full ">
          <a href="/admin/planificar/evaluacion_y_control_riesgos/gestion_archivos">
          <app-cards-boton
          
          [titulo]="'Cargar docmento'"
          [descripcion]="'Ya cuento con el documento de certificación del líder encargado.'"
          [tipoIcono]="'fas fa-upload'"
          [colorIcono]="'bg-blue-500'"
          ></app-cards-boton>
          </a>
        </div>
        <div class="lg:w-1/3 sm:w-full ">
          <app-cards-boton
          (click)="toggleTabs(1,'')"
          [titulo]="'Crear docmento'"
          [descripcion]="'Aún no tengo el documento. Iniciar proceso de creación ahora'"
          [tipoIcono]="'fas fa-rocket'"
          [colorIcono]="'bg-green-500'"></app-cards-boton>
        </div>
      </div>

    </div>

  </div>
</div>

