<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0">
    <div class="rounded-t bg-blueGray-100  mb-0 px-6 py-6">
      <div class="text-center flex ">
        <button
          [routerLink]="['/admin/planificar']"
          class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-1 py-1  rounded shadow hover:shadow-md outline-none focus:outline-none mr-2 ease-linear transition-all duration-150"
          type="button"
        >
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
        </button>
        <h6 class="text-blueGray-700 text-xl font-bold">Programas de gestión de riesgos</h6>
      </div>
    </div>
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

        <div class="text-lg font-light leading-relaxed mt-6  text-gray-700" >

            <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300" class="text-justify pb-3">
              Bienvenido al módulo de programas de gestión de riesgos. En esta sección, puedes ver y descargar los diferentes programas, estos son esenciales para implementar medidas concretas que aborden los riesgos identificados previamente.
            </p>
        
    
        </div>

        <div class="flex flex-wrap space-y-4 sm:space-y-0 ">
            <div class="w-full lg:w-4/12 px-2 pt-4 ">

                <div class="overflow-hidden bg-white rounded shadow">
                    <div class="p-5">
                        <div class="relative">
                            <a href="../../../../../assets/documentacion/008_programas/1_GESTIÓN_DE_LA_VELOCIDAD.pdf" target="_blank" title="" class="block aspect-w-4 aspect-h-3">
                                <img class="object-cover w-full h-full" src="../../../../../assets/documentacion/008_programas/velocidad.png" alt="" />
                            </a>
    
                            <div class="absolute top-4 left-4">
                                <span class="px-4 py-2 text-xs font-semibold tracking-widest text-gray-900 uppercase bg-white rounded-full"> Programa </span>
                            </div>
                        </div>
                        <span class="block mt-6 text-sm font-semibold tracking-widest text-gray-500 uppercase"> Febrero, 2025 </span>
                        <p class="mt-5 text-2xl font-semibold">
                            <a href="../../../../../assets/documentacion/008_programas/1_GESTIÓN_DE_LA_VELOCIDAD.pdf" target="_blank" title="" class="text-black"> Gestión de velocidad. </a>
                        </p>
                        <p class="mt-4 text-base text-gray-600 text-justify">El programa de gestión de la velocidad pretende promover el desarrollo de hábitos y comportamientos seguros en las vías.</p>
                        <a href="../../../../../assets/documentacion/008_programas/1_GESTIÓN_DE_LA_VELOCIDAD.pdf" target="_blank" title="" class="inline-flex items-center justify-center pb-0.5 mt-5 text-base font-semibold text-blue-600 transition-all duration-200 border-b-2 border-transparent hover:border-blue-600 focus:border-blue-600">
                            Más información
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="w-full lg:w-4/12 px-2 pt-4 ">

                <div class="overflow-hidden bg-white rounded shadow">
                    <div class="p-5">
                        <div class="relative">
                            <a href="../../../../../assets/documentacion/008_programas/2. PREVENCIÓN DE LA DISTRACCIÓN_MIRO SEGURIDAD.pdf" target="_blank" title="" class="block aspect-w-4 aspect-h-3">
                                <img class="object-cover w-full h-full" src="../../../../../assets/documentacion/008_programas/distraccion.png" alt="" />
                            </a>
    
                            <div class="absolute top-4 left-4">
                                <span class="px-4 py-2 text-xs font-semibold tracking-widest text-gray-900 uppercase bg-white rounded-full"> Programa </span>
                            </div>
                        </div>
                        <span class="block mt-6 text-sm font-semibold tracking-widest text-gray-500 uppercase"> Enero, 2025 </span>
                        <p class="mt-5 text-2xl font-semibold">
                            <a href="../../../../../assets/documentacion/008_programas/2. PREVENCIÓN DE LA DISTRACCIÓN_MIRO SEGURIDAD.pdf" target="_blank" title="" class="text-black"> Prevención de distracción </a>
                        </p>
                        <p class="mt-4 text-base text-gray-600 text-justify">El programa de prevención de la distracción realiza un seguimiento a los conductores, respecto al uso de dispositivos electrónicos.</p>
                        <a href="../../../../../assets/documentacion/008_programas/2. PREVENCIÓN DE LA DISTRACCIÓN_MIRO SEGURIDAD.pdf" target="_blank" title="" class="inline-flex items-center justify-center pb-0.5 mt-5 text-base font-semibold text-blue-600 transition-all duration-200 border-b-2 border-transparent hover:border-blue-600 focus:border-blue-600">
                            Más información
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
            <div class="w-full lg:w-4/12 px-2 pt-4 ">

                <div class="overflow-hidden bg-white rounded shadow">
                    <div class="p-5">
                        <div class="relative">
                            <a href="../../../../../assets/documentacion/008_programas/3. PREVENCIÓN DE LA FATIGA_MIRO SEGURIDAD.pdf" target="_blank" title="" class="block aspect-w-4 aspect-h-3">
                                <img class="object-cover w-full h-full" src="../../../../../assets/documentacion/008_programas/fatiga.png" alt="" />
                            </a>
    
                            <div class="absolute top-4 left-4">
                                <span class="px-4 py-2 text-xs font-semibold tracking-widest text-gray-900 uppercase bg-white rounded-full"> Programa </span>
                            </div>
                        </div>
                        <span class="block mt-6 text-sm font-semibold tracking-widest text-gray-500 uppercase"> Diciembre, 2024 </span>
                        <p class="mt-5 text-2xl font-semibold">
                            <a href="../../../../../assets/documentacion/008_programas/3. PREVENCIÓN DE LA FATIGA_MIRO SEGURIDAD.pdf" target="_blank" title="" class="text-black"> Prevención de la fatiga</a>
                        </p>
                        <p class="mt-4 text-base text-gray-600 text-justify">El programa de prevención de la fatiga pretende controlar las horas de conducción continuas y descanso de los colaboradores.</p>
                        <a href="../../../../../assets/documentacion/008_programas/3. PREVENCIÓN DE LA FATIGA_MIRO SEGURIDAD.pdf" target="_blank" title="" class="inline-flex items-center justify-center pb-0.5 mt-5 text-base font-semibold text-blue-600 transition-all duration-200 border-b-2 border-transparent hover:border-blue-600 focus:border-blue-600">
                            Más información
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="w-full lg:w-4/12 px-2 pt-4">

                <div class="overflow-hidden bg-white rounded shadow">
                    <div class="p-5">
                        <div class="relative">
                            <a href="../../../../../assets/documentacion/008_programas/4. PREVENCIÓN  ALCOHOL_MIRO SEGURIDAD.pdf" target="_blank" title="" class="block aspect-w-4 aspect-h-3">
                                <img class="object-cover w-full h-full" src="../../../../../assets/documentacion/008_programas/alcohol.png" alt="" />
                            </a>
    
                            <div class="absolute top-4 left-4">
                                <span class="px-4 py-2 text-xs font-semibold tracking-widest text-gray-900 uppercase bg-white rounded-full"> Programa </span>
                            </div>
                        </div>
                        <span class="block mt-6 text-sm font-semibold tracking-widest text-gray-500 uppercase"> Diciembre, 2024 </span>
                        <p class="mt-5 text-2xl font-semibold">
                            <a href="../../../../../assets/documentacion/008_programas/4. PREVENCIÓN  ALCOHOL_MIRO SEGURIDAD.pdf" target="_blank" title="" class="text-black"> Prevención alcohol</a>
                        </p>
                        <p class="mt-4 text-base text-gray-600 text-justify">El programa de  prevención del alcohol pretende erradicar el consumo de alcohol y sustancias psicoactivas antes o durante los desplazamientos.</p>
                        <a href="../../../../../assets/documentacion/008_programas/4. PREVENCIÓN  ALCOHOL_MIRO SEGURIDAD.pdf" target="_blank" title="" class="inline-flex items-center justify-center pb-0.5 mt-5 text-base font-semibold text-blue-600 transition-all duration-200 border-b-2 border-transparent hover:border-blue-600 focus:border-blue-600">
                            Más información
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>