<div class="flex">
  <div class="w-full p-4">
    <div class="relative flex-col w-full shadow-lg rounded bg-white p-8">
      <div class="flex flex-col md:flex-row gap-6 mb-4">
        <!-- Contenido -->
        <app-cards-menu class="w-full md:w-1/2"
        [titulo]="'Indicadores y reporte de autogestión PESV'"
        [descripcion]="'En esta sección te ayudaremos a establecer y gestionar los indicadores clave para medir el desempeño, realizar seguimiento periódico y generar reportes de autogestión que demuestren el progreso de tu plan'"
        [tipoIcono]="'fas fa-user-tie'"
        [colorIcono]="'bg-emerald-400'"
        [porcentaje]="estatusGeneral['020-indicadores-reporte-autogestion']?.estado || 0"
        [colorgrafica]="'#10b97b'"
        [linkvamos]="'indicadores_autogestion_pesv'"
        ></app-cards-menu>
        <app-cards-menu class="w-full md:w-1/2"
        [titulo]="'Registro y análisis estadístico de siniestros viales'"
        [descripcion]="'Encontrarás las herramientas para documentar y analizar los datos históricos de siniestralidad. Podrás clasificar los siniestros según su nivel de riesgo, establecer tendencias y generar proyecciones estadísticas.'"
        [tipoIcono]="'fas fa-users'"
        [colorIcono]="'bg-emerald-400'"
        [porcentaje]="estatusGeneral['021-registro-analisis-siniestros-viales']?.estado || 0"
        [colorgrafica]="'#10b97b'"
        [linkvamos]="'registro_siniestros_viales'"
        ></app-cards-menu>
      </div>
      <div class="flex flex-col md:flex-row gap-6">
        <!-- Contenido -->
        <app-cards-menu class="w-full md:w-1/2"
        [titulo]="'Auditoría anual'"
        [descripcion]="'Esta sección te guiará en la realización de auditorías internas efectivas para evaluar el cumplimiento de tu PESV. Te ayudaremos a documentar el proceso, planificar las auditorías y dar seguimiento a los hallazgos identificados.'"
        [tipoIcono]="'fas fa-balance-scale'"
        [colorIcono]="'bg-emerald-400'"
        [porcentaje]="estatusGeneral['022-auditoria-anual']?.estado || 0"
        [colorgrafica]="'#10b97b'"
        [linkvamos]="'auditoria_anual'"
        ></app-cards-menu>

      </div>
         
        
    </div>
  </div>
</div>