<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold text-center mb-6">Iniciar sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <div class="mb-4">
          <label for="email" class="block text-gray-700">Correo electrónico:</label>
          <input id="email" formControlName="email" type="email"
                 class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500">
            El correo es requerido y debe ser válido.
          </div>
        </div>
        <div class="mb-6">
          <label for="password" class="block text-gray-700">Contraseña:</label>
          <input id="password" formControlName="password" type="password"
                 class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500">
            La contraseña es requerida y debe tener al menos 6 caracteres.
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" 
                class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600">
          Iniciar sesión
        </button>
        
        
          <button type="button" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 mt-2" [routerLink]="['/auth/register']">
            Crear PESV INTERACTIVO
          </button>
        
      </form>
    </div>
  </div>
  