<div *ngIf="isLoading">
    <app-loading [isLoading]="isLoading" [loadingText]="'Cargando información...'"></app-loading>
</div>
<div *ngIf="!isLoading" class="flex mt-12">
    <div class="w-full  ">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="px-16 py-10 flex-auto">
                <div class="tab-content tab-space">

                    <div *ngIf="openTab === 0" >

                        <h1 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100" class="text-3xl font-normal leading-normal mt-0 text-blueGray-700" style="text-align: center;">Liderazgo y Compromiso del Nivel Directivo</h1><br>
                
                        <div style="text-align: justify;" class="text-xl font-light leading-relaxed mt-6 mb-4" >
        
                        <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300" style="margin-bottom: 14px;">
                            Se detalla cómo el nivel directivo debe garantizar la definición de políticas, formación en seguridad vial, gestión de recursos, cumplimiento de normas de seguridad, seguimiento de acciones, participación en auditorías y reuniones anuales de revisión del PESV.
                        </p>
                        
                        <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" style="margin-bottom: 14px;">
                            Además, se vincula este compromiso con el SG-SST (Decreto 1072 de 2015) y la ISO 39001, que establecen requisitos similares en liderazgo y compromiso para la seguridad vial.
                        </p>
        
                        <div class="flex flex-col md:flex-row justify-center items-center mt-6 mb-6 space-y-6 md:space-y-0 md:space-x-16">
                            <div class="lg:w-1/3 sm:w-full ">
                         
                            <app-cards-boton
                            (click)="toggleTabs(3,'')"
                            [titulo]="'Cargar docmento'"
                            [descripcion]="'Ya cuento con el documento de Política de Seguridad Vial'"
                            [tipoIcono]="'fas fa-upload'"
                            [colorIcono]="'bg-blue-500'"
                            ></app-cards-boton>
                            </div>
                            <div class="lg:w-1/3 sm:w-full ">
                            <app-cards-boton
                            (click)="toggleTabs(1,'')"
                            [titulo]="'Crear docmento'"
                            [descripcion]="'Aún no tengo el documento. Iniciar proceso de creación ahora'"
                            [tipoIcono]="'fas fa-rocket'"
                            [colorIcono]="'bg-green-500'"></app-cards-boton>
                            </div>

                        </div>
                
                        </div>
                        
                    </div>
                    <div *ngIf="openTab === 1" >

                        <div style="text-align: justify;" class="text-xl font-light leading-relaxed mt-6 mb-4" >
                        
                            <p style="margin-bottom: 14px;"><strong>Documentos y Requisitos Necesarios</strong></p>
            
                            <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="700" style="margin-bottom: 14px;">
                            Antes de comenzar con el formulario para la creación del Liderazgo y Compromiso, asegúrate de tener la siguiente información:
                            </p>
            
                            <div class="flex flex-col md:flex-row justify-between mt-6 mb-6 lg:pl-28 space-y-6 md:space-y-0 md:space-x-8">

                                <!-- Lista original con subtítulo -->
                                <div class="w-full md:w-1/2">
                                    <p style="margin-bottom: 14px;"><strong>Información Específica a Tener a Mano</strong></p>
                                    <ul class="list-disc list-inside text-gray-500 space-y-1">
                                        <li>
                                            Fecha de creación del comité
                                            
                                        </li>
                                    </ul>
                                </div>
                            
                            </div>
            
                        </div>

                        <div class="flex justify-center">
                            <button data-aos="fade-right" data-aos-duration="1000" data-aos-delay="900" (click)="toggleTabs(2,'')" class="text-amber-500 bg-transparent border border-solid border-amber-500 hover:bg-amber-500 hover:text-white active:bg-amber-600 font-bold uppercase text-sm px-6 py-3  rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                            <i class="fas fa-arrow-right"></i> Comenzar a crear
                            </button>
                        </div>

                    </div>

                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div *ngIf="openTab === 2">
                            <div class="flex flex-wrap" style="text-align: left;margin-top: 20px;margin-bottom: 20px;">
                              <div class="w-full lg:w-12/12 px-4">
    
                                <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                                    Responsabilidad 
                                </h6>
    
                                <div class="flex flex-wrap">
    
                                  <div class="w-full lg:w-12/12 px-4">
                                    <div class="relative w-full mb-3">
                                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        Actores Clave en la Implementación
                                        <br /><br />
                                        <div class="flex items-center">
                                          <!-- Checkbox personalizado -->
                                          <label class="inline-flex items-center me-5 cursor-pointer">
                                            <input type="checkbox" class="sr-only peer" formControlName="objetivo1" />
                                            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-amber-500"></div>
                                          </label>
                                          
                                          <!-- Texto descriptivo -->
                                          <p class="text-base font-light leading-relaxed mt-0 text-blueGray-800 ml-2 cursor-pointer">
                                            Líder del Plan Estratégico De Seguridad Vial (PESV).
                                          </p>
                                        </div>
                                      </label>
                                    </div>
                                  </div>
      
                                  <div class="w-full lg:w-12/12 px-4">
                                    <div class="relative w-full mb-3">
                                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        <div class="flex items-center">
                                          <!-- Checkbox personalizado -->
                                          <label class="inline-flex items-center me-5 cursor-pointer">
                                            <input type="checkbox" class="sr-only peer" formControlName="objetivo2" />
                                            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-amber-500"></div>
                                          </label>
                                          
                                          <!-- Texto descriptivo -->
                                          <p class="text-base font-light leading-relaxed mt-0 text-blueGray-800 ml-2 cursor-pointer">
                                            Comité De Seguridad Vial (CSV).
                                          </p>
                                        </div>
                                      </label>
                                    </div>
                                  </div>
      
                                  <div class="w-full lg:w-12/12 px-4">
                                    <div class="relative w-full mb-3">
                                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        <div class="flex items-center">
                                          <!-- Checkbox personalizado -->
                                          <label class="inline-flex items-center me-5 cursor-pointer">
                                            <input type="checkbox" class="sr-only peer" formControlName="objetivo3" />
                                            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-amber-500"></div>
                                          </label>
                                          
                                          <!-- Texto descriptivo -->
                                          <p class="text-base font-light leading-relaxed mt-0 text-blueGray-800 ml-2 cursor-pointer">
                                            Líderes de cada regional operativa.
                                          </p>
                                        </div>
                                      </label>
                                    </div>
                                  </div>

                                  <div class="w-full lg:w-12/12 px-4">
                                    <div class="relative w-full mb-3">
                                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        <div class="flex items-center">
                                          <!-- Checkbox personalizado -->
                                          <label class="inline-flex items-center me-5 cursor-pointer">
                                            <input type="checkbox" class="sr-only peer" formControlName="objetivo4" />
                                            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-amber-500"></div>
                                          </label>
                                          
                                          <!-- Texto descriptivo -->
                                          <p class="text-base font-light leading-relaxed mt-0 text-blueGray-800 ml-2 cursor-pointer">
                                            COPASST o Vigía de Seguridad y Salud en el Trabajo.
                                          </p>
                                        </div>
                                      </label>
                                    </div>
                                  </div>

                                  <div class="w-full lg:w-12/12 px-4">
                                    <div class="relative w-full mb-3">
                                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        <div class="flex items-center">
                                          <!-- Checkbox personalizado -->
                                          <label class="inline-flex items-center me-5 cursor-pointer">
                                            <input type="checkbox" class="sr-only peer" formControlName="objetivo5" />
                                            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-amber-500"></div>
                                          </label>
                                          
                                          <!-- Texto descriptivo -->
                                          <p class="text-base font-light leading-relaxed mt-0 text-blueGray-800 ml-2 cursor-pointer">
                                            Brigada integral de seguridad.
                                          </p>
                                        </div>
                                      </label>
                                    </div>
                                  </div>

                                  <div class="w-full lg:w-12/12 px-4">
                                    <div class="relative w-full mb-3">
                                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        <div class="flex items-center">
                                          <!-- Checkbox personalizado -->
                                          <label class="inline-flex items-center me-5 cursor-pointer">
                                            <input type="checkbox" class="sr-only peer" formControlName="objetivo6" />
                                            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-amber-500"></div>
                                          </label>
                                          
                                          <!-- Texto descriptivo -->
                                          <p class="text-base font-light leading-relaxed mt-0 text-blueGray-800 ml-2 cursor-pointer">
                                            Empleados y colaboradores.
                                          </p>
                                        </div>
                                      </label>
                                    </div>
                                  </div>

                                  <div class="w-full lg:w-12/12 px-4">
                                    <div class="relative w-full mb-3">
                                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                        <div class="flex items-center">
                                          <!-- Checkbox personalizado -->
                                          <label class="inline-flex items-center me-5 cursor-pointer">
                                            <input type="checkbox" class="sr-only peer" formControlName="objetivo7" />
                                            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-amber-500"></div>
                                          </label>
                                          
                                          <!-- Texto descriptivo -->
                                          <p class="text-base font-light leading-relaxed mt-0 text-blueGray-800 ml-2 cursor-pointer">
                                            Subcontratistas y proveedores.
                                          </p>
                                        </div>
                                      </label>
                                    </div>
                                  </div>
                                  
                                  <!-- Objetivo 4 texto opcional-->
                                  <div class="w-full lg:w-12/12 px-4">
                                    <div class="relative w-full mb-3">
                                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-6">Más objetivos</label>
                                      <textarea formControlName="objetivo8" rows="3" class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-transparent focus:outline-none focus:shadow-outline w-full" placeholder="Opcional"></textarea>
                                      <div *ngIf="form.get('objetivo8')?.invalid && form.get('objetivo8')?.touched">
                                        <small class="text-red-500">Este campo es obligatorio</small>
                                      </div>
                                    </div>
                                  </div>
                            
                                </div>
    
                                <div class="flex justify-center">
                                  <button data-aos="fade-right" data-aos-duration="1000" data-aos-delay="900" (click)="toggleTabs(2,'Atras')" class="text-blueGray-500 bg-transparent border border-solid border-blueGray-500 hover:bg-blueGray-300 active:bg-blueGray-500 font-bold uppercase text-sm px-6 py-3  rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                                    <i class="fas fa-arrow-left"></i> Regresar
                                  </button>
                                  <button type="button" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" (click)="vistaPrevia()"
                                  class="text-sky-500 bg-white border-sky-500 hover:bg-sky-500 hover:text-white border border-solid font-bold uppercase text-sm px-6 py-3 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
                                  <i class="fas fa-arrow-right"></i> Vista Previa
                                  </button>

                                  <app-pdf-liderazgo-compromiso
                                  [mostrarBotones]="false"
                                  [subirBlob]=false
                                  [idFormulario]= "id_formulario"
                                  [nombreBoton]="'Ver'"
                                  [disenoboton]="'diseno6'"
                                  [disenoIcono]="'fa-eye'"
                                  [descargaOprevia]="'vista'"
                                  [nombreEmpresa]="dataEmpresa2.nombreEmpresa"></app-pdf-liderazgo-compromiso>

                                  <button data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" 
                                    class="text-amber-500 bg-white border-amber-500 hover:bg-amber-500 hover:text-white border border-solid font-bold uppercase text-sm px-6 py-3 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="submit">
                                    <i class="fas fa-arrow-right"></i> Siguiente
                                  </button>
                                </div>
    
                              </div>
                            </div>
                          </div>

                    </form>

                    <div *ngIf="openTab === 3" class="flex flex-wrap">
  
          
                      <div class="w-full xl:w-3/12 px-4 mt-12">
                        <app-upload-archivos
                        [urlStore]="'004-liderazgo-y-compromiso'"
                        [urlFire]="'liderazgoCompromiso'"></app-upload-archivos>
                      </div>
                      <!-- Tabla de Documentos cargados o Formularios completos -->
                      <div class="w-full xl:w-10/12 mb-12 xl:mb-0 px-4">
                        <div class="rounded-t mb-0 px-4 py-3 border-0">
                          <div class="flex flex-wrap items-center">
                            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                              <h3 class="font-semibold text-lg text-blueGray-700">
                                Documentos cargados
                              </h3>
                            </div>
                          </div>
                        </div>
        
                        <div class="block w-full overflow-x-auto">
                          <table class="items-center w-full bg-transparent border-collapse">
                            <thead>
                              <tr>
                                <th class="px-6 py-3 text-xs uppercase font-semibold text-left bg-blueGray-50 text-blueGray-500">
                                  No.
                                </th>
                                <th class="px-6 py-3 text-xs uppercase font-semibold text-left bg-blueGray-50 text-blueGray-500">
                                  Nombre del Documento
                                </th>
                                <th class="px-6 py-3 text-xs uppercase font-semibold text-left bg-blueGray-50 text-blueGray-500">
                                  Tipo
                                </th>
                                <th class="px-6 py-3 text-xs uppercase font-semibold text-left bg-blueGray-50 text-blueGray-500">
                                  Estado
                                </th>
                                <th class="px-6 py-3 text-xs uppercase font-semibold text-left bg-blueGray-50 text-blueGray-500">
                                  Acciones
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let document of documentData; let i = index">
                                <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
                                  {{i + 1}}
                                </td>
                                <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
                                  {{ document.nombrePDf || 'N/A' }}
                                </td>
                                <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
                                  {{ document.tipo }}
                                </td>
                                <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
                                  {{ document.estado }} %
                                </td>
                                <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
                                  
                                  <ng-container *ngIf="document.nombrePDf; else noNombre">
        
                                    <ng-container *ngIf="document.tipo === 'Asistente'; else archivoCargado">
                                      <app-pdf-liderazgo-compromiso
                                      [mostrarBotones]=true
                                      [subirBlob]=false
                                      [idFormulario]="document.id"
                                      [nombreBoton]="'Ver'"
                                      [disenoboton]="'diseno6'"
                                      [disenoIcono]="'fa-eye'"
                                      [descargaOprevia]="'vista'"
                                      [nombreEmpresa]="dataEmpresa2.nombreEmpresa"></app-pdf-liderazgo-compromiso>
                                      <app-pdf-liderazgo-compromiso
                                      [mostrarBotones]=true
                                      [subirBlob]=false
                                      [idFormulario]="document.id"
                                      [nombreBoton]="''"
                                      [disenoboton]="'diseno4'"
                                      [disenoIcono]="'fa-download'"
                                      [descargaOprevia]="'descarga'"
                                      [nombreEmpresa]="dataEmpresa2.nombreEmpresa"></app-pdf-liderazgo-compromiso>
        
                                      <app-pdf-liderazgo-compromiso
                                      [mostrarBotones]=true
                                      [subirBlob]=false
                                      [idFormulario]="document.id"
                                      [nombreBoton]="''"
                                      [disenoboton]="'diseno5'"
                                      [disenoIcono]="'fa-print'"
                                      [descargaOprevia]="'imprimir'"
                                      [nombreEmpresa]="dataEmpresa2.nombreEmpresa"></app-pdf-liderazgo-compromiso>
                                    </ng-container>
        
                                    <ng-template #archivoCargado>
        
                                      <a [href]="document.URL" target="_blank" class="text-sky-500 bg-transparent border border-solid border-sky-500 hover:bg-sky-500 hover:text-white active:bg-sky-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Ver</a>
        
                                    </ng-template>
        
                                  </ng-container>
        
                                  <ng-template #noNombre>
                                    <!-- Contenedor alternativo cuando nombrePDf no tiene valor -->
                                    <span class="text-red-500">Documento no disponible</span>
                                  </ng-template>
        
                                </td>
                              </tr>
                              <tr *ngIf="documentData.length === 0">
                                <td colspan="5" class="text-center py-4">No hay documentos disponibles.</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
        
                     
                      
          
                      <button data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600" (click)="irdashboard()" class="text-blueGray-500 bg-transparent border border-solid border-blueGray-500 hover:bg-blueGray-300 active:bg-blueGray-500 font-bold uppercase text-sm px-6 py-3  rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                        <i class="fas fa-cog"></i> Finalizar
                      </button>
          
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>