<!-- <div *ngIf="isLoading">
    <app-loading [isLoading]="isLoading" [loadingText]="'Cargando información...'"></app-loading>
</div> -->

<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0">
  <div class="rounded-t bg-blueGray-100  mb-0 px-6 py-6">
    <div class="text-center flex ">
      <button
        [routerLink]="['/admin/planificar']"
        class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-1 py-1  rounded shadow hover:shadow-md outline-none focus:outline-none mr-2 ease-linear transition-all duration-150"
        type="button"
      >
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
      </button>
      <h6 class="text-blueGray-700 text-xl font-bold">Política de Seguridad Vial</h6>
    </div>
  </div>
  <div class="flex-auto px-4 lg:px-10 py-10 pt-0">

    <app-pasopaso *ngIf="openTab > 1 && openTab < 3" [steps]="['Fecha del Documento']"></app-pasopaso>
      
    <div *ngIf="openTab === 0" >

      <div class="text-lg font-light leading-relaxed mt-6 mb-4 text-gray-700" >

        <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300" class="text-justify pb-3">
            Promover una cultura de seguridad vial que garantice la movilidad segura, minimice los riesgos viales y fomente el cumplimiento de las normativas aplicables, contribuyendo así a una mejora continua en la gestión de la seguridad vial organizacional.
        </p>
        
        <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" class="text-justify pb-3">
            La política de seguridad vial se articula con:
        </p>
        
        <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" class="text-justify pb-3">
            SG-SST (Sistema de Gestión de Seguridad y Salud en el Trabajo): Relación con la política de seguridad y salud en el trabajo.
        </p>

        <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" class="text-justify pb-3">
            ISO 39001: Cumple con estándares internacionales para sistemas de gestión de seguridad vial, asegurando coherencia y correspondencia entre ambos sistemas.
        </p>
        

        <div class="flex flex-col md:flex-row justify-center items-center mt-6 mb-6 space-y-6 md:space-y-0 md:space-x-16">
            <div class="lg:w-1/3 sm:w-full ">
            <a href="/admin/planificar/politicaseguridadvial/gestion_archivos">
            <app-cards-boton
            
            [titulo]="'Cargar docmento'"
            [descripcion]="'Ya cuento con el documento de Política de Seguridad Vial'"
            [tipoIcono]="'fas fa-upload'"
            [colorIcono]="'bg-blue-500'"
            ></app-cards-boton>
            </a>
            </div>
            <div class="lg:w-1/3 sm:w-full ">
            <app-cards-boton
            (click)="toggleTabs(1,'')"
            [titulo]="'Crear docmento'"
            [descripcion]="'No tengo el documento. Iniciar proceso de creación ahora'"
            [tipoIcono]="'fas fa-rocket'"
            [colorIcono]="'bg-green-500'"></app-cards-boton>
            </div>

        </div>

        
      </div>
    </div>
    <div *ngIf="openTab === 1" >

      <div style="text-align: justify;" class="text-xl font-light leading-relaxed mt-6 mb-4" >
      
          <p style="margin-bottom: 14px;"><strong>Documentos y Requisitos Necesarios</strong></p>

          <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="700" style="margin-bottom: 14px;">
          Antes de comenzar con el formulario para la creación del Política de Seguridad Vial, asegúrate de tener la siguiente información:
          </p>

          <div class="flex flex-col md:flex-row justify-between mt-6 mb-6 lg:pl-28 space-y-6 md:space-y-0 md:space-x-8">

              <!-- Lista original con subtítulo -->
              <div class="w-full md:w-1/2">
                  <p style="margin-bottom: 14px;"><strong>Información Específica a Tener a Mano</strong></p>
                  <ul class="list-disc list-inside text-gray-500 space-y-1">
                      <li>
                          Fecha de creación del comité
                          
                      </li>
                  </ul>
              </div>
          
          </div>

      </div>

      <div class="flex justify-center">
          <button data-aos="fade-right" data-aos-duration="1000" data-aos-delay="900" (click)="toggleTabs(2,'')" class="text-amber-500 bg-transparent border border-solid border-amber-500 hover:bg-amber-500 hover:text-white active:bg-amber-600 font-bold uppercase text-sm px-6 py-3  rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
          <i class="fas fa-arrow-right"></i> Comenzar a crear
          </button>
      </div>

    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngIf="openTab === 2">

            <div class="flex flex-wrap" style="text-align: left;margin-top: 20px;margin-bottom: 20px;">
                <div class="w-full lg:w-12/12 px-4">
              
                
                    <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                    Información General
                    </h6>

                    <!-- Fecha documento -->
                    <div class="w-full lg:w-4/12 px-4">
                        <div class="relative w-full mb-3">
                        <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">Fecha documento</label>
                        <input formControlName="fechaDocumento" type="date" class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-transparent focus:outline-none focus:shadow-outline w-full" />
                        <div *ngIf="form.get('fechaDocumento')?.invalid && form.get('fechaDocumento')?.touched">
                            <small class="text-red-500">Este campo es obligatorio</small>
                        </div>
                        </div>
                    </div>
            
                </div>
            </div>
            <!-- Botones finales  -->
            <div class="flex justify-center mt-12">
                <button data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600" (click)="toggleTabs(0,'Atras')" class="text-blueGray-500 bg-transparent border border-solid border-blueGray-500 hover:bg-blueGray-300 active:bg-blueGray-500 font-bold uppercase text-sm px-6 py-3  rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                <i class="fas fa-arrow-left"></i> Regresar
                </button>

                <button type="button" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" (click)="vistaPrevia()"
                class="text-sky-500 bg-white border-sky-500 hover:bg-sky-500 hover:text-white border border-solid font-bold uppercase text-sm px-6 py-3 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
                <i class="fas fa-arrow-right"></i> Vista Previa
                </button>

              
                <app-pdf-politicas-seguridad-vial
                [mostrarBotones]="false"
                [subirBlob]=false
                [idFormulario]= "id_formulario"
                [nombreBoton]="'Ver'"
                [disenoboton]="'diseno6'"
                [disenoIcono]="'fa-eye'"
                [descargaOprevia]="'vista'"
                [nombreEmpresa]="dataEmpresa2.nombreEmpresa"></app-pdf-politicas-seguridad-vial>


                <button type="submit" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" 
                class="text-amber-500 bg-white border-amber-500 hover:bg-amber-500 hover:text-white border border-solid font-bold uppercase text-sm px-6 py-3 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
                <i class="fas fa-arrow-right"></i> Terminar
                </button>

            </div>
            
        </div>

    </form>
    <div *ngIf="openTab === 3" class="flex flex-wrap">


        <div class="w-full xl:w-3/12 px-4 mt-12">
          <app-upload-archivos
          [urlStore]="'003-politica-de-seguridad-vial'"
          [urlFire]="'politicaSeguridadVial'"></app-upload-archivos>
        </div>
        <!-- Tabla de Documentos cargados o Formularios completos -->
        <div class="w-full xl:w-10/12 mb-12 xl:mb-0 px-4">
          <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
              <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3 class="font-semibold text-lg text-blueGray-700">
                  Documentos cargados
                </h3>
              </div>
            </div>
          </div>

          <div class="block w-full overflow-x-auto">
            <table class="items-center w-full bg-transparent border-collapse">
              <thead>
                <tr>
                  <th class="px-6 py-3 text-xs uppercase font-semibold text-left bg-blueGray-50 text-blueGray-500">
                    No.
                  </th>
                  <th class="px-6 py-3 text-xs uppercase font-semibold text-left bg-blueGray-50 text-blueGray-500">
                    Nombre del Documento
                  </th>
                  <th class="px-6 py-3 text-xs uppercase font-semibold text-left bg-blueGray-50 text-blueGray-500">
                    Tipo
                  </th>
                  <th class="px-6 py-3 text-xs uppercase font-semibold text-left bg-blueGray-50 text-blueGray-500">
                    Estado
                  </th>
                  <th class="px-6 py-3 text-xs uppercase font-semibold text-left bg-blueGray-50 text-blueGray-500">
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let document of documentData; let i = index">
                  <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
                    {{i + 1}}
                  </td>
                  <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
                    {{ document.nombrePDf || 'N/A' }}
                  </td>
                  <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
                    {{ document.tipo }}
                  </td>
                  <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
                    {{ document.estado }} %
                  </td>
                  <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
                    
                    <ng-container *ngIf="document.nombrePDf; else noNombre">

                      <ng-container *ngIf="document.tipo === 'Asistente'; else archivoCargado">
                        <app-pdf-politicas-seguridad-vial
                        [mostrarBotones]=true
                        [subirBlob]=false
                        [idFormulario]="document.id"
                        [nombreBoton]="'Ver'"
                        [disenoboton]="'diseno6'"
                        [disenoIcono]="'fa-eye'"
                        [descargaOprevia]="'vista'"
                        [nombreEmpresa]="dataEmpresa2.nombreEmpresa"></app-pdf-politicas-seguridad-vial>
                        <app-pdf-politicas-seguridad-vial
                        [mostrarBotones]=true
                        [subirBlob]=false
                        [idFormulario]="document.id"
                        [nombreBoton]="''"
                        [disenoboton]="'diseno4'"
                        [disenoIcono]="'fa-download'"
                        [descargaOprevia]="'descarga'"
                        [nombreEmpresa]="dataEmpresa2.nombreEmpresa"></app-pdf-politicas-seguridad-vial>

                        <app-pdf-politicas-seguridad-vial
                        [mostrarBotones]=true
                        [subirBlob]=false
                        [idFormulario]="document.id"
                        [nombreBoton]="''"
                        [disenoboton]="'diseno5'"
                        [disenoIcono]="'fa-print'"
                        [descargaOprevia]="'imprimir'"
                        [nombreEmpresa]="dataEmpresa2.nombreEmpresa"></app-pdf-politicas-seguridad-vial>
                      </ng-container>

                      <ng-template #archivoCargado>

                        <a [href]="document.URL" target="_blank" class="text-sky-500 bg-transparent border border-solid border-sky-500 hover:bg-sky-500 hover:text-white active:bg-sky-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Ver</a>

                      </ng-template>

                    </ng-container>

                    <ng-template #noNombre>
                      <!-- Contenedor alternativo cuando nombrePDf no tiene valor -->
                      <span class="text-red-500">Documento no disponible</span>
                    </ng-template>

                  </td>
                </tr>
                <tr *ngIf="documentData.length === 0">
                  <td colspan="5" class="text-center py-4">No hay documentos disponibles.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      
        

        <button data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600" (click)="irdashboard()" class="text-blueGray-500 bg-transparent border border-solid border-blueGray-500 hover:bg-blueGray-300 active:bg-blueGray-500 font-bold uppercase text-sm px-6 py-3  rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
          <i class="fas fa-cog"></i> Finalizar
        </button>

    </div>

  </div>
</div>

