<div class="flex flex-wrap">
  <div class="grid grid-cols-1 md:grid-cols-2">
    <!-- Primera tarjeta -->
    <div class="w-full xl:mb-0 px-2">
      <app-card-tarjeta
      [urlimg]="'assets/img/iconosmenu/1.png'"
      [titulo]="'Paso 1. PLANEAR'"
      [descripcion]="'Esta sección te guiará paso a paso en la creación de los cimientos de tu Plan Estratégico de Seguridad Vial. Aquí podrás definir los objetivos específicos para tu organización, identificar los riesgos particulares de tu operación, establecer las políticas de seguridad vial y planificar las acciones necesarias.'"
      [color]="'bg-amber-400'"
      [linkvamos]="'/admin/planificar'">
      </app-card-tarjeta>
    </div>

    

    <!-- Segunda tarjeta -->
    <div class="w-full xl:mb-0 px-2">
      <app-card-tarjeta
      [urlimg]="'assets/img/iconosmenu/2.png'"
      [titulo]="'Paso 2. HACER'"
      [descripcion]="'En esta sección encontrarás las herramientas necesarias para la creación de programas de capacitación hasta el establecimiento de controles operacionales. Te guiaremos en la documentación de procedimientos, la implementación de medidas de seguridad y la ejecución de todas las actividades planificadas.'"
      [color]="'bg-sky-400'"
      [linkvamos]="'/admin/hacer'">
      </app-card-tarjeta>
    </div>

  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    
    
    <!-- Tercera tarjeta -->
    <div class="w-full xl:mb-0 px-2">
      <app-card-tarjeta
      [urlimg]="'assets/img/iconosmenu/3.png'"
      [titulo]="'Paso 3. VERIFICAR'"
      [descripcion]="'Esta sección está diseñada para ayudarte a medir y analizar los resultados de tus esfuerzos en seguridad vial. Encontrarás herramientas para dar seguimiento a tus indicadores, realizar auditorías internas efectivas y evaluar el cumplimiento de tus objetivos.  La medición es clave para el éxito de tu PESV'"
      [color]="'bg-emerald-400'"
      [linkvamos]="'/admin/verificar'">
      
      </app-card-tarjeta>
    </div>
    <!-- Cuarta tarjeta -->
    <div class="w-full xl:mb-0 px-2">
      <app-card-tarjeta
      [urlimg]="'assets/img/iconosmenu/4.png'"
      [titulo]="'Paso 4. ACTUAR'"
      [descripcion]="'Basado en los resultados de la fase de verificación, te ayudaremos a identificar oportunidades de mejora, establecer acciones correctivas y preventivas, y actualizar tu plan según las necesidades detectadas. Esta sección te permitirá cerrar el ciclo de mejora continua y prepararte para elevar el nivel de seguridad vial en tu organización.'"
      [color]="'bg-red-400'"
      [linkvamos]="'/admin/actuar'">
      </app-card-tarjeta>
    </div>

  </div>

</div>

