<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'">
          Documentos cargados
        </h3>
      </div>
    </div>
  </div>

  <div class="block w-full overflow-x-auto">
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th class="px-6 py-3 text-xs uppercase font-semibold text-left"
            [ngClass]="color === 'light' ? 'bg-blueGray-50 text-blueGray-500' : 'bg-red-800 text-red-300'">
            Categorías
          </th>
          <th class="px-6 py-3 text-xs uppercase font-semibold text-left"
            [ngClass]="color === 'light' ? 'bg-blueGray-50 text-blueGray-500' : 'bg-red-800 text-red-300'">
            # Archivos
          </th>
          <th class="px-6 py-3 text-xs uppercase font-semibold text-left"
            [ngClass]="color === 'light' ? 'bg-blueGray-50 text-blueGray-500' : 'bg-red-800 text-red-300'">
            Fecha más reciente
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of archivos">
          <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
            <app-info-icon [helpText]="'Este es un texto de ayuda.'" [ancho]="'15rem'"></app-info-icon>
            {{ categoria.nombre }}
          </td>
          <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
            {{ categoria.totalArchivos }} / 1
          </td>
          <td class="border-t-0 px-6 py-4 text-xs whitespace-nowrap">
            <!-- Mostrar la fecha más reciente si hay archivos -->
            {{ categoria.archivos.length > 0 ? (categoria.archivos[0].uploadedAt | date: 'short') : 'N/A' }}
          </td>
        </tr>
        <tr *ngIf="archivos.length === 0">
          <td colspan="3" class="text-center py-4">No hay archivos disponibles.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-modals-guia
  [titulo]="'Mi Modal Personalizado'"
  [contenido]="'Este es un contenido dinámico para mostrar en el modalste es un contenido dinámico para mostrar en el modalste es un contenido dinámico para mostrar en el modalste es un contenido dinámico para mostrar en el modal.'"
  [tamano]="'regular'"></app-modals-guia>
</div>
